/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  background-color: #fefbff;
}
html,
body {
  font-family: 'Thasadith', sans-serif;
}
h1 {
  font-size: 5rem;
  font-family: 'Calistoga', cursive;
}
h2 {
  font-size: 3rem;
  padding-bottom: 10px;
  font-family: 'Cormorant Infant', serif;
}
h3 {
  font-size: 3.5rem;
  font-family: 'Codystar', cursive;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
  font-family: 'Cormorant Infant', serif;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: bolder;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-size: 2rem;
  text-align: right;
  color: rgba(0, 0, 0, 0.678);
}
@media (max-width: 500px) {
  a {
    font-size: 1.5rem;
  }
}
header {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 4% auto 1% auto;
}
@media (max-width: 500px) {
  header {
    margin-top: 5%;
  }
}
header nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 50%;
}
header nav a {
  color: rgba(0, 0, 0, 0.678);
}
@media (max-width: 500px) {
  header nav {
    width: 70%;
    font-size: 1rem;
  }
}
header span {
  background-color: mistyrose;
  padding: 2%;
  border-radius: 8px;
  align-self: center;
  box-shadow: -5px 5px rgba(210, 180, 140, 0.616);
}
header span:hover {
  background-color: #bda280;
}
header span a {
  font-weight: bold;
  letter-spacing: 1;
  color: #bda280;
}
header span a:hover {
  color: mistyrose;
}
header img {
  max-width: 20%;
}
footer {
  margin: 10% auto 5%;
}
footer p {
  text-align: center;
  font-size: 1.5rem;
}
footer p a {
  font-size: 1.5rem;
}
.header-content {
  display: flex;
  flex-direction: column;
  background-color: mistyrose;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3% auto;
  padding: 3%;
}
.header-content h1 {
  color: rgba(0, 0, 0, 0.678);
  text-shadow: -3px 3px rgba(210, 180, 140, 0.616);
  letter-spacing: 3px;
}
@media (max-width: 500px) {
  .header-content h1 {
    font-size: 2.5rem;
    letter-spacing: 0;
  }
}
.header-content h2 {
  color: rgba(0, 0, 0, 0.678);
  margin-top: 3%;
  border-top: 8px solid tan;
  border-style: double;
  line-height: 2;
}
@media (max-width: 500px) {
  .header-content h2 {
    font-size: 1.5rem;
    border-top: 5px solid tan;
    border-style: double;
    line-height: 2;
  }
}
.header-content .signup {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fefbff;
  cursor: crosshair;
  width: 40%;
  font-family: 'Codystar', cursive;
  font-size: 4rem;
  font-style: bolder;
  border-radius: 30px;
  border: 4.5px solid tan;
  box-shadow: -10px 10px rgba(0, 0, 0, 0.678);
  color: rgba(0, 0, 0, 0.678);
  padding: 2%;
}
@media (max-width: 500px) {
  .header-content .signup {
    border: 2px solid tan;
  }
}
.header-content .signup:hover {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(210, 180, 140, 0.75), 0 0 20px rgba(210, 180, 140, 0.75), 0 0 30px rgba(210, 180, 140, 0.75), 0 0 0 75px rgba(210, 180, 140, 0.15), 0 0 0 60px rgba(210, 180, 140, 0.15), 0 0 0 45px rgba(210, 180, 140, 0.15), 0 0 0 30px rgba(210, 180, 140, 0.15), 0 0 0 15px rgba(210, 180, 140, 0.15);
}
@media (max-width: 500px) {
  .header-content .signup {
    font-size: 2rem;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 3%;
  }
}
.gallery {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  padding-bottom: 3%;
}
.gallery img {
  max-width: 32%;
}
@media (max-width: 499px) {
  .gallery img {
    height: 200px;
    max-width: 32%;
  }
}
#top-row {
  display: flex;
  flex-direction: row;
  background-color: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 90%;
  padding-top: 3%;
}
@media (max-width: 500px) {
  #top-row {
    display: flex;
    flex-direction: column;
  }
}
#top-row img {
  max-width: 40%;
  padding-bottom: 10%;
  padding-top: 5%;
}
@media (max-width: 500px) {
  #top-row img {
    max-width: 20%;
    padding-bottom: 5%;
  }
}
#top-row h3 {
  padding-bottom: 10%;
  color: tan;
}
@media (max-width: 500px) {
  #top-row h3 {
    padding-bottom: 5%;
  }
}
#top-row p {
  text-align: justify;
}
#top-row .section1 {
  width: 25%;
  text-align: center;
}
@media (max-width: 500px) {
  #top-row .section1 {
    width: 90%;
  }
}
#top-row .section2 {
  width: 25%;
  text-align: center;
}
@media (max-width: 500px) {
  #top-row .section2 {
    width: 90%;
  }
}
#top-row .section3 {
  width: 25%;
  text-align: center;
}
@media (max-width: 500px) {
  #top-row .section3 {
    width: 90%;
  }
}
#bottom-row {
  display: flex;
  flex-direction: row;
  background-color: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0;
  width: 90%;
  padding-top: 3%;
}
@media (max-width: 500px) {
  #bottom-row {
    display: flex;
    flex-direction: column;
  }
}
#bottom-row img {
  max-width: 40%;
  padding-bottom: 10%;
  padding-top: 5%;
}
@media (max-width: 500px) {
  #bottom-row img {
    max-width: 20%;
    padding-bottom: 5%;
  }
}
#bottom-row h3 {
  padding-bottom: 10%;
  color: tan;
}
@media (max-width: 500px) {
  #bottom-row h3 {
    padding-bottom: 5%;
  }
}
#bottom-row p {
  text-align: justify;
}
#bottom-row .section4 {
  width: 25%;
  text-align: center;
}
@media (max-width: 500px) {
  #bottom-row .section4 {
    width: 90%;
  }
}
#bottom-row .section5 {
  width: 25%;
  text-align: center;
}
@media (max-width: 500px) {
  #bottom-row .section5 {
    width: 90%;
  }
}
#bottom-row .section6 {
  width: 25%;
  text-align: center;
}
@media (max-width: 500px) {
  #bottom-row .section6 {
    width: 90%;
  }
}
.top {
  margin: 3% auto;
  text-align: center;
  padding-bottom: 65%;
  background-image: url("../img/hair.jpg");
  background-size: cover;
  filter: grayscale(70%);
}
.top img {
  max-width: 50%;
  padding: 1%;
}
.middle {
  margin: 3% auto 5%;
  text-align: center;
}
.middle h1 {
  padding: 2%;
  color: tan;
  font-size: 6rem;
  letter-spacing: 3px;
  font-family: 'Codystar', cursive;
}
@media (max-width: 500px) {
  .middle h1 {
    font-size: 3rem;
    text-shadow: none;
  }
}
.middle p {
  font-size: 2rem;
  font-weight: bold;
  max-width: 70%;
  margin: 2% auto 9%;
  padding: 2%;
  background-color: mistyrose;
  box-shadow: -20px 20px rgba(255, 235, 205, 0.651), -10px 10px rgba(210, 180, 140, 0.616);
  border-radius: 15px;
}
@media (max-width: 500px) {
  .middle p {
    font-size: 1.5rem;
  }
}
#about {
  display: grid;
  max-width: 80%;
  margin: auto;
  text-align: center;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: "one one . ." "one one two two" "three three two two" "three three four four" "five five four four" "five five six six" "seven seven six six" "seven seven . .";
}
#about img {
  max-width: 60%;
  filter: grayscale(70%);
  border-radius: 30%;
}
#about h2 {
  width: 70%;
  padding-top: 5%;
  margin: auto;
  border-radius: 1px;
}
@media (max-width: 500px) {
  #about h2 {
    font-size: 2rem;
  }
}
#about h4 {
  width: 70%;
  margin: auto;
  border-radius: 1px;
}
#about p {
  width: 70%;
  text-align: center;
  padding: 0 8% 4% 8%;
  margin: auto;
  border-radius: 1px;
}
@media (max-width: 500px) {
  #about p {
    font-size: 1.25rem;
    padding: 6%;
  }
}
#about p i {
  font-size: 4rem;
}
@media (max-width: 500px) {
  #about p i {
    font-size: 2rem;
  }
}
#about .Amber {
  grid-area: one;
  margin-bottom: 10%;
}
#about .Amber img {
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616), -15px 15px blanchedalmond;
  margin-bottom: 10%;
}
#about .Amber h2,
#about .Amber h4,
#about .Amber p {
  background-color: mistyrose;
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616);
}
#about .Amber i {
  color: tan;
}
#about .Nathan-1 {
  grid-area: two;
  margin-bottom: 10%;
}
#about .Nathan-1 img {
  box-shadow: 8px 8px rgba(210, 180, 140, 0.616), 15px 15px blanchedalmond;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  #about .Nathan-1 img {
    box-shadow: 5px 5px mistyrose;
  }
}
#about .Nathan-1 h2,
#about .Nathan-1 h4,
#about .Nathan-1 p {
  background-color: blanchedalmond;
  box-shadow: 8px 8px rgba(210, 180, 140, 0.616);
}
#about .Nathan-1 i {
  color: rgba(210, 180, 140, 0.616);
}
#about .Yannick {
  grid-area: three;
  margin-bottom: 10%;
}
#about .Yannick img {
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616), -15px 15px blanchedalmond;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  #about .Yannick img {
    box-shadow: -5px 5px rgba(255, 235, 205, 0.651);
  }
}
#about .Yannick h2,
#about .Yannick h4,
#about .Yannick p {
  background-color: tan;
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616);
}
#about .Yannick i {
  color: blanchedalmond;
}
#about .Afia {
  grid-area: four;
  margin-bottom: 10%;
}
#about .Afia img {
  box-shadow: 8px 8px rgba(210, 180, 140, 0.616), 15px 15px blanchedalmond;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  #about .Afia img {
    box-shadow: 5px 5px blanchedalmond;
  }
}
#about .Afia h2,
#about .Afia h4,
#about .Afia p {
  background-color: mistyrose;
  box-shadow: 8px 8px rgba(210, 180, 140, 0.616);
}
#about .Afia i {
  color: tan;
}
#about .Jasmine {
  grid-area: five;
  margin-bottom: 10%;
}
#about .Jasmine img {
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616), -15px 15px blanchedalmond;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  #about .Jasmine img {
    box-shadow: -5px 5px rgba(210, 180, 140, 0.616);
  }
}
#about .Jasmine h2,
#about .Jasmine h4,
#about .Jasmine p {
  background-color: blanchedalmond;
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616);
}
#about .Jasmine i {
  color: rgba(210, 180, 140, 0.616);
}
#about .Nathan-2 {
  grid-area: six;
}
#about .Nathan-2 img {
  box-shadow: 8px 8px rgba(210, 180, 140, 0.616), 15px 15px blanchedalmond;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  #about .Nathan-2 img {
    box-shadow: 5px 5px tan;
  }
}
#about .Nathan-2 h2,
#about .Nathan-2 h4,
#about .Nathan-2 p {
  background-color: tan;
  box-shadow: 8px 8px rgba(210, 180, 140, 0.616);
}
#about .Nathan-2 i {
  color: blanchedalmond;
}
#about .Will {
  grid-area: seven;
}
#about .Will img {
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616), -15px 15px blanchedalmond;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  #about .Will img {
    box-shadow: -5px 5px rgba(255, 228, 225, 0.575);
  }
}
#about .Will h2,
#about .Will h4,
#about .Will p {
  background-color: mistyrose;
  box-shadow: -8px 8px rgba(210, 180, 140, 0.616);
}
#about .Will i {
  color: tan;
}
