.aboutus-header{

    img{
        width: 60%;
    }

    h1{
        padding: 8%;
    }
}

#about{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    .Amber{
        text-align: center;
        width:50%;
        float: right;
        align-self: flex-start;
        border-right: 2px dashed red;

        img{
            padding: 5%;
        }

        h2{
            padding: 2%;
        }

        p {
            text-align: justify;
            padding: 2%;
        }

    }

    .Nathan-1{
        text-align: center;
        width:50%;
        float: right;
        align-self: flex-end;
        border-left: 2px dashed red;

        img{
            padding: 5%;
        }

        h2{
            padding: 2%;
        }

        p {
            text-align: justify;
            padding: 2%;
        }

    }

    .Yannick{
        text-align: center;
        width:50%;
        float: right;
        align-self: flex-start;
        border-right: 2px dashed red;

        img{
            padding: 5%;
        }

        h2{
            padding: 2%;
        }

        p {
            text-align: justify;
            padding: 2%;
        }

    }

    .Afia{
        text-align: center;
        width:50%;
        float: right;
        align-self: flex-end;
        border-left: 2px dashed red;

        img{
            padding: 5%;
        }

        h2{
            padding: 2%;
        }

        p {
            text-align: justify;
            padding: 2%;
        }

    }

    .Nathan-2{
        text-align: center;
        width:50%;
        float: right;
        align-self: flex-start;
        border-right: 2px dashed red;

        img{
            padding: 5%;
        }

        h2{
            padding: 2%;
        }

        p {
            text-align: justify;
            padding: 2%;
        }

    }

    .Will{
        text-align: center;
        width:50%;
        float: right;
        align-self: flex-end;
        border-left: 2px dashed red;

        img{
            padding: 5%;
        }

        h2{
            padding: 2%;
        }

        p {
            text-align: justify;
            padding: 2%;
        }

    }
}