.top{
    margin: 3% auto;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 4%;
    background-color: @accent-color1;

    img{
        max-width: 50%;
        padding: 1%;
    }

    h1{
        padding: 1%;
        color: @bg-color;

        @media(max-width:500px){
            font-size: 3rem;
        }
    }

    p{
        font-size: 2rem;
        max-width: 70%;
        margin: auto;

        @media(max-width:500px){
            font-size: 1.5rem;
    }
    }
}


#about{
    display: grid;
    max-width: 80%;
    margin: auto;
    text-align: center;
    
    img{
        max-width: 90%;
        padding: 5%;

        @media(max-width:500px){
            max-width: 40%;
        }
    }

    h2{
        width: 70%;
        padding: 2%;
        margin: auto;

        @media(max-width:500px){
            font-size: 2rem;
        }
    }

    p {
        width: 70%;
        text-align: justify;
        padding: 2%;
        margin: auto;

        @media(max-width:500px){
            font-size: 1.25rem;
            padding: 6%;
        }

        i{
            font-size: 5rem;
        }
        
    }
    
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "one one . ."
        "one one two two"
        "three three two two"
        "three three four four"
        "five five four four"
        "five five six six"
        ". . six six";

        .Amber{
            grid-area: one;

            h2{
                background-color: @accent-color1-1;
            }
            p{
                background-color: @accent-color1-1;
            }

        }

        .Nathan-1{
            grid-area: two;

            h2{
                background-color: @accent-color2-2;
            }
    
            p {
                background-color: @accent-color2-2;
            }
        }

        .Yannick{
            grid-area: three;

            h2{
                background-color: @accent-color3-3;
            }
    
            p {
                background-color: @accent-color3-3;
            }
        }

        .Afia{
            grid-area: four;

            h2{
                background-color: @accent-color1-1;
            }
    
            p {
                background-color: @accent-color1-1;
            }
        }

        .Nathan-2{
            grid-area: five;

            h2{
                background-color: @accent-color2-2;
            }
    
            p {
                background-color: @accent-color2-2;
            }
        }

        .Will{
            grid-area: six;

            h2{
                background-color: @accent-color3-3;
            }
    
            p {
                background-color: @accent-color3-3;
            }
        }




}



