.header-content{
    .generalSetting(column, @accent-color1, center, 3% auto, 3%);

    h1{
        color: @text-color;
        text-shadow: -3px 3px @accent-color3-3;
        letter-spacing: 3px;

        @media @phone{
            font-size: 2.5rem;
            letter-spacing: 0;
        }//ends @media
    }//ends h1

    h2{
        color: @text-color;
        margin-top: 3%;
        border-top: 8px solid @accent-color3;
        border-style: double;
        line-height: 2;

        @media @phone{
            font-size: 1.5rem;
            border-top: 5px solid @accent-color3;
            border-style: double;
            line-height: 2;
        }
    }

    .signup{
        .custom-btn(@bg-color, 40%, @text-color);

        @media @phone{
            border: 2px solid @accent-color3;
        }

        &:hover {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(210, 180, 140, 0.75),
                        0 0 20px rgba(210, 180, 140, 0.75),
                        0 0 30px rgba(210, 180, 140, 0.75),
                        0 0 0 75px rgba(210, 180, 140, 0.15),
                        0 0 0 60px rgba(210, 180, 140, 0.15),
                        0 0 0 45px rgba(210, 180, 140, 0.15),
                        0 0 0 30px rgba(210, 180, 140, 0.15),
                        0 0 0 15px rgba(210, 180, 140, 0.15);
        
        } 

        @media @phone{
            font-size: 2rem;
            padding: 1%;
            border-radius: 10px;
            margin-bottom: 3%;
        }

    }
}

 

.gallery{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 3%;

    img{
        max-width: 32%;
        
        @media (max-width: 499px){
            height: 200px;
            max-width: 32%;
        }
    }
}



#top-row{
    .generalSetting(row, none, space-between, auto, 0);
    width: 90%;
    padding-top: 3%;
    

    @media @phone{
        display: flex;
        flex-direction: column;
    }

    img{
        .imgSetting();
        
        @media @phone{
            max-width: 20%;
            padding-bottom: 5%;
        }
    }

    h3{
        padding-bottom: 5%;
        color: @text-color;
        text-shadow: -3px 3px @accent-color3-3;
        

        @media @phone{
            padding-bottom: 5%;
        }
    }

    p{
        text-align: justify;
    }

    .section1{
       .sectionSetting();
       

       @media @phone{
        width: 90%;
    }

       
    }

    .section2{
        .sectionSetting();

        @media @phone{
            width: 90%;
        }
    }

    .section3 {
        .sectionSetting();

        @media @phone{
            width: 90%;
        }
    }

}

#bottom-row{
    .generalSetting(row, none, space-between, auto, 0);
    width: 90%;
    padding-top: 3%;

    @media @phone{
        display: flex;
        flex-direction: column;
    }

    img{
        .imgSetting();

        @media @phone{
            max-width: 20%;
            padding-bottom: 5%;
        }
    }

    h3{
        padding-bottom: 5%;
        color: @text-color;
        text-shadow: -3px 3px @accent-color3-3;

        @media @phone{
            padding-bottom: 5%;
        }
    }

    p{
        text-align: justify;
    }

    .section4{
        .sectionSetting();

       @media @phone{
           width: 90%;
       }

       
    }

    .section5{
        .sectionSetting();

        @media @phone{
            width: 90%;
        }
    }

    .section6{
        .sectionSetting();

        @media @phone{
            width: 90%;
        }
    }

}