header{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: 4% auto 1% auto;


    @media (max-width:500px){
        margin-top: 3%;
    }

    span{
        background-color: @accent-color1;
        padding: 2%;
        border-radius: 8px;
        align-self: center;
        
        a{
            font-weight: bold;
            color: white;
            font-size: 1.5rem;
            letter-spacing: 1;
        }
    }

    img{
        width: 20%;
        
    }

nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 50%;

        @media (max-width:500px){
            width: 70%;
            font-size: 1rem;
        }
    
    
    
    

    
}

}

