header{
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4% auto 1% auto;

    img{
        width: 20%;
        
    }

nav{
    display: flex;
    justify-content: space-between;
    width: 30%;
    
    
    a{
        text-decoration: none;
        font-size: 2rem;
        color: @navcolor;
        text-align: right;
        
    }
}

}
