

// Color assignments 
@navcolor: black;
@accent-color1: mistyrose;
@accent-color2: blanchedalmond;
@accent-color3: tan;
@bg-color: rgb(254, 251, 255);
@text-color: rgba(0, 0, 0, 0.678);

@accent-color1-1: rgba(255, 228, 225, 0.575);
@accent-color2-2: rgba(255, 235, 205, 0.651);
@accent-color3-3: rgba(210, 180, 140, 0.616);



//Styles
@shadow-l: -8px 8px @accent-color3-3; 
@shadow-r: 8px 8px @accent-color3-3; 



//Other
@phone: ~"(max-width: 500px)";